*{
	box-sizing: border-box;
}

header > div > img {
	border: 4px solid #363B4E;
	border-radius: 100%;
	height: auto;
	width: auto;
	max-width: 14em;
	max-height: 15em;
}
ul > li > ul {
	padding-bottom: 1em;
}

main > ul > li  {
	color: #000FD9;	
}

main > ul > li > h3 {
	color: #927FBF;
}

main > ul > li > ul > li {
	color: #363B4E;
}


.background-default{
	background:#4F3B78;
	margin: 0;
}

.background-default > header > p:nth-child(even){
	color: #001061;
}

.find-me{
	display: flex;
	padding-top: 1em;
}
.find-me a {
	color: #fefefe;
	width: 2em;
	font-size: 2em;
}

.alchemic-flex{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: stretch;
	font-family: 'Oswald', sans-serif;
	padding-bottom: 1em;
	background: #363B4E;
	width: 100vw;
	padding-left: 2em;
}

.alchemic-flex > h2 {
	text-align: center;
	color:#7566A9; 
}

.alchemic-flex > h1 , .alchemic-flex > p:nth-child(odd){
	color: #C4BBF0;
}

.background-default > .alchemic-flex:nth-child(2){
	background-color: rgba(100%, 94.5%, 94.5%, 0.85);
	padding-left: 1em;
	padding-right: 1em;
}

.alchemic-flex > .simple-flex > img {
	align-self: center;
}

.title-font{
	font-family: 'Droid Serif', serif;	
}



@media all and (min-width: 480px){
	.alchemic-flex{
		align-items: center;
	}

	.simple-flex {
		padding-left: 3em;
	}

	.simple-flex > img{
		margin-left: 5em;
	}
}

@media all and (min-width: 720px){
	.alchemic-flex{
		align-items: flex-start;
		justify-content: space-around;
	}

	.find-me{
		flex-direction: column;
	}

	.background-default{
		display: flex;
		flex-direction: row;
	}

	.background-default > .alchemic-flex:nth-child(1){
		flex-grow: 1;
		flex-basis: 40%;
		max-width: 40%
	}

	.background-default > .alchemic-flex:nth-child(2){
		flex-grow: 2;
	}

	.simple-flex{
		display: flex;
		flex-direction: row;
		align-items: center;
		justify-content: space-around;
		padding-left: 1.5em;
		padding-right: 1em;
	}

	header > div > img {
		max-width: 10em;
		max-height: 11em;
	}

	.simple-flex > img {
		margin-left: 0;
	}
}

@media all and (min-width: 1080px){

	main{
		font-size: 1em;
	}

	header{
		font-size:1.5em;
	}


	main > ul > li > h3 {
		font-size: 2em;
	}
	main > ul > li > ul {
		padding-top: 0.5em;
	}

	main > ul > li > ul > li {
		padding-top: 0.5em;
	}

	.background-default{
		padding-right: 5em;
		align-content: center;
		align-items: center;
		justify-content: center;
	}


	.background-default > .alchemic-flex:nth-child(1){
		align-self: flex-start;
		width: 40%;
		flex-grow: 1;
		padding-right: 2em;
		background: rgba(21.2%, 23.1%, 30.6%, 0);

	}

	.background-default > .alchemic-flex:nth-child(2){
		width: 50%;
		flex-grow: 2;
		padding-left: 2em;
	}

	.alchemic-flex > h2 {
		padding-bottom: 1em;
		padding-left: 3em;
		font-size: 3em; 
	}

	.alchemic-flex > p{
		margin: 0;
		padding-bottom: 1em;
	}

	.title-font {
		font-size: 2em;
	}
	

	header > div > img {
	border: 4px solid #363B4E;
	border-radius: 100%;
	height: auto;
	width: auto;
	max-width: 14em;
	max-height: 15em;
	}

	.find-me{
		padding-left: 2em;
		padding-right: 1em;
	}

	.find-me > a {
		font-size: 1.4em;
	}
}