:root {
	--main-bg-color: #4C4C9D;
	--secondary-bg-color: #712F79;
	--terciary-bg-color: #976391;
	--main-text-color: #fac5ad;
}
*,*::before,*::after{
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: var(--secondary-bg-color);
	display: flex;
	flex-direction: column;
	height: 100vh;
	justify-content: center;
}
header {
	text-align: center;
	color: var(--main-text-color);
	padding: 1rem;
}
header > h1 {
	font-size: 25px;
}
nav a {
	font-size: 20px;
	margin: 0 .5rem;
	color: var(--main-text-color);
}
footer {
	padding: 2rem 1rem;
	text-align: right;
	color: var(--main-text-color);
	position: absolute;
	bottom: 0;
	align-self: flex-end;
}

@media (min-width: 480px) {
	header > h1 {
		font-size: 30px;
	}
}

@media (min-width: 1024px) {
	body {
	align-items: center;
	justify-content: center;
	background-color: var(--main-bg-color);
	}

	header {
		background-color: var(--secondary-bg-color);
		border-radius: .5rem;
		width: 40rem;
		align-self: center;
		padding: 5rem 1rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		box-shadow: 1px 1px 10px #010101;
	}

	nav {
		align-self: center;
	}

	nav a {
		font-size: 30px;
		transition: color 500ms;
	}

	nav a:nth-child(1):hover {
		color: #000;
	}

	nav a:nth-child(2):hover {
		color: #0a66c2;
	}
	nav a:nth-child(3):hover {
		color: #1db954;
	}
	nav a:nth-child(4):hover {
		color: #ba0000;
	}
	nav a:nth-child(5):hover {
		color:#2b9fd1;
	}
	nav a:nth-child(6):hover {
		color:#000;
	}
	nav a:nth-child(7):hover {
		color:red;
	}
}