*{
	box-sizing: border-box;	
}

.personal-image{
	width: auto;
	height: auto;
	max-width: 350px;
	max-height: 250px;
	border: 4px solid #363B4E;
	border-radius: 100%;
}

.monoliptic-bg{
	background:#4F3B78;
}

a {
	color: #fefefe;
	text-decoration: none;
}

.find-me{
	display: flex;
	justify-content: space-around;
	align-content: center;
	flex-direction: column;
}

.find-me > a{
	width: 2em;
}

.find-me:after{
	content: "";
	position: absolute;
	background: url("https://avatars2.githubusercontent.com/u/13048705?v=4&u=c7cc4198f12aa0b5ddcf7b33547119c6d718d952&s=400") top center/100% no-repeat;
	border: 4px solid #363B4E;
	border-radius: 100%;
	padding-top: 105px;
	padding-left: 174px;
	padding-bottom: 163px;
	padding-right: 100px;
	margin-left: 3em;
}

.flex-wraper{
	display: flex;
	flex-direction: row;
	justify-content:space-around;
	align-items:flex-start;
	padding-top: 2em;
	font-size: 1.1em;
}

.flex-wraper > header{
	color: #fefefe;
}


.flex-wraper > header > h1{
	color: #C4BBF0;
	padding-top: 2em;
	padding-bottom: 1em;
}
.flex-wraper > main > h2{
	padding-bottom: 1em;
	text-align: center;
	font-size: 3em;
	color:#7566A9; 
}

.flex-wraper > main > ul > li  {
	
	color: #927FBF;
}

.flex-wraper > main > ul > li > h3 {
	font-size: 2em;
}

.flex-wraper > main > ul > li > ul > li {
	color: black;
	padding-top: 0.5em;
}

.flex-wraper > main{
	background-color: #fff1f1;
	width: 65vw;
	padding-left: 3em;
	padding-right: 3em;
	padding-top: 2em;
	padding-bottom: 1em;
}

